+breadcramb(' breadcramb', ['Главная', 'Каталог'], 1)

//- .breadcramb
//-     ul.breadcramb__list
//-         li.breadcramb__item 
//-             a.breadcramb__item_link(href="#")
//-                 |Главная >
//-         li.breadcramb__item 
//-             a.breadcramb__item_link_active(href="#")
//-                 |Каталог
//- .breadcramb
//-     .container
//-         ul.breadcrambs__list
//-             - var items = ["Главная", "Каталог"]
//-         each item in items
//-             li.breadcrumbs__item
