//- footer.jade
include mixin
footer.footer
    .container
        .footer__left-side
            span.footer__logo-wrap
                a.logo-wrap__link
                    img.logo(src="img/logo-foot.png", alt="cooltech")
                span.logo-text
                    |COOLTECH  
        .footer__right-side                   
            .footer__contacts
                .socials
                    ul.social__list
                        - var socials = ['icon-fb', 'icon-vk', 'icon-tw']
                            each social in socials
                                li.socials__item
                                    a(href="#" class="socials__link socials__link_" + social)
                     
                +nav('footer-nav', ['Планшеты', 'Мобильные телефоны', "Mp3 плееры", "Персональные компьютеры", "Ноутбуки", "Аксесуары", "Бытовая техника"])        
    .footer__copyright
        | All rights reserved. 2015. no copy alowed