//- header.jade
include mixin
header.header
        .socials.socials__top
            .container
                ul.social__list
                    - var socials = ['icon-fb', 'icon-vk', 'icon-tw']
                        each social in socials
                            li.socials__item
                                a(href="#" class="socials__link socials__link_" + social)
                .contacts
                    div.contacts__address ул. Маяковская 6, офис 17
                    a(href="tel:+79211231213").contacts__phone +7 (921) 123-12-13 

.header__link
    .container           
        span.header__link_logo-wrap
            a.logo-wrap__link
                img.logo(src="img/logo-head.png" alt="cooltech")
            span.logo-text
                |COOLTECH    
        form.search
            label.label 
                input.input__search(type='text' placeholder='Что будем искать')
                button.input__btn.btn(type='submit' placeholder='Найти')
                    |Найти

        +nav(' link', ['Карта проезда', 'История заказов', 'Корзина'])

.navigation__wrap
    .container
        +nav(' navigation', ['Планшеты', 'Мобильные телефоны', "Mp3 плееры", "Персональные компьютеры", "Ноутбуки", "Аксесуары", "Бытовая техника"], 1)