/*.product--header{
	ul{   
		border-bottom: 3px solid $color-brand;
	  
		li{
			display: inline-block;
			
			-webkit-border-top-right-radius: 5px; 
			border-top-right-radius: 5px; 
			-webkit-border-top-left-radius: 5px; 
			border-top-left-radius: 5px; 
			border: 1px solid $silver-chalice;
			border-bottom: none; 
			padding: 15px; 

			&:first-of-type{
				background-color: $color-brand;
				border-color: transparent;  
				color: $color-white;    
			}
		}
	}
}*/
.breadcramb{
    padding: 22px 0;
    padding-bottom: 12px;
}

.name-page{
    margin-bottom: 20px;
}

.breadcramb__item{
    display: inline-block;
    &:before{
        content: '>';
        display: inline-block;
        vertical-align: middle;
    }

    &:first-child{
        &:before{
            display: none;
        }
    }
}

.breadcramb__link{
    color: $color-black;
    line-height: 16px;
}

.breadcramb__link_active{
    color: $color-brand;
    text-decoration: underline;
}