.products__list_lines{
    .products__slideshow-block{
        display: none;
    }

    .products__item{
        &:hover{
            box-shadow: 0 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
        }
    }

    .products__item-inner{
        padding: 8px 12px;       
    }

    .products__desc{
        width: 225px;
    }

    .products__desc-title{
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        overflow: hidden;
        /*margin-top: 0;*/
        margin-bottom: 0;
        margin-top: 1px;
        padding-top: 0;
    }

    .products__desc-options{
        display: none;
    }

    .products__article {
        width: 105px;
    }

    .products__slideshow {
        width: 95px;
    }

    .products__rating{
        display: none;
    }

    .products__left{
        width: 390px;
        margin-top: 8px;
    }

    .products__right{
        float: right;
        position: static;
        width: auto;
    }
    .product__info{
        border: 0 none;
        padding-left: 0;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        margin-top: 7px;
    }

    .products__info-bottom{
        position: static;
        display: inline-block;
        vertical-align: middle;
    }

    .products__buy-btn{
        float: right;
        margin-bottom: 0;
    }

    .products__avaylability{
        float: left;
        font-size: 12px;
        /*margin: 15px;*/
        /*padding-top: 15px;
        padding-left: 15px;*/
        /*margin-bottom: 0;*/
        margin: 11px 22px 0 3px;
    }
}