.sort{
    background: #e4ebee;
    @include clearfix;
    border: 1px solid $color-brand-grey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sort__title{
    line-height: 16px;
    color: #5d656c;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.sort__select{
    display: inline-block;
    vertical-align: middle;
    margin-left: -11px;
}

.sort__select-wrap{
    padding-top: 9px;
    padding-left: 17px;
}

.sort__left{
    // display: inline-block;
    float: left;
    width: 50%;
}

.sort__right{
    display: inline-block;
    float: right;
    width: 50%;
    text-align: right;
}

.sort__view{
    display: inline-block;
    vertical-align: middle; 
}

.sort__view-list{
    @include clearfix;
}

.sort__view-item{
    float: left;
    border: 1px solid $color-brand-grey;
}

.sort__view-rows{
    .sort__view-icon{
        @include sprite($v_horiz);
    }
    &:hover{
        .sort__view-icon{
            @include sprite($v_horiz-active);
        }
    }

    &.active{
        .sort__view-icon{
            @include sprite($v_horiz-active);
        }
    }
}

.sort__view-grids{
    .sort__view-icon{
        @include sprite($v_vert);
    }
    &:hover{
        .sort__view-icon{
            @include sprite($v_vert-active);
        }
    }

    &.active{
        .sort__view-icon{
            @include sprite($v_vert-active);
        }
    }
}


.sort__view-lines{
    .sort__view-icon{
        @include sprite($v_list);
    }
    &:hover{
        .sort__view-icon{
            @include sprite($v_list-active);
        }
    }

    &.active{
        .sort__view-icon{
            @include sprite($v_list-active);
        }
    }
}


.sort__view-link{
    width: 50px;
    height: 50px;
    position: relative;
    display: block;
    outline: none !important;
}

.sort__view-icon{
    @include absolute-center;
    display: inline-block;
}


///* $views-map: sprite-map('icons/views/*png, $spacing: 50px');

//$items: rows, grids, lines;

///*@each $item in $items{
//    .sort__view#{$item}{
//        .sort__view-icon{
//            @include get-sprite($view-map, $items);
//        }
//
//        &:hover{
//            $hover-icon: $item + '-hover';
//            .sort__view-icon{
//               @include get-sprite($views-map, $hover-icon);
//            }
//        }
//
//        &.active{
//            $hover-icon: $item + '-hover';
//            .sort__view-icon{
//               @include get-sprite($views-map, $hover-icon);
//            }
//        }    
//    }
//}*/

