@import "../sprites/sprite";

html, body {
  height: 100%;
}

.wrapper{
	clear: both;
    height: auto !important;
    min-height: 100%;
}

/*.layout_footer{
	height: 80px;
}*/
/***************************/
.footer{
	background-color: #eff3f7;
    color: $color-white;
	font-size: 12px;
    background-image: url(../img/footpattern.jpg);
	position: relative;
	clear: both;
    min-height: 220px;
    /*bottom: 0;
    left: 0;
    right: 0;
    height: 220px;
    position: absolute;*/
}


.copyright{
		background-color: #eff3f7;
		color: #8f9da8;
		padding: 15px 0;
		font-family: open_sanslight, sans-serif;
		display: inline-block;
        text-align: center;
        padding: 30px 0;
}

.footer__logo-wrap{
    padding: 70px 0 85px;    
    display: inline-block;
}

.footer__left-side{
    width: 40%;
    float: left;
}

.footer__right-side{
    width: 60%;
    float: right;
}

.footer__contacts{
    display: block;
    float: right;
    padding: 25px 0;
    width: 620px;
    .footer-nav{
        display: block;
        padding-top: 5px;
        padding-right: 8px;

        .footer-nav__list{
            text-align: right;
        }
        .footer-nav__item {
            display: inline-block;
            padding-bottom: 14px;
        }
        
        .footer-nav__link{
            color: $color-white;
            text-decoration: underline;
            font-size: 14px;
            display: inline-block;
            margin-left: 20px;
        }
    }
}

.footer__copyright{
    border-top: 1px solid #494949;
    text-align: center;
    // padding: 10px 0;
}

.social__list{
    text-align: right;
    // display: inline-block;
    // float: right;
}

.footer .socials__item{
    display: inline-block;
    // height: 43px;
    // width: 43px;
    padding-left: 14px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 15px;
    &:hover{
        // height: 43px;
        // width: 43px;
    }

    .socials__link{
        display: inline-block;
    }

    .socials__link_icon-fb{
        @include sprite($fb_footer);
            &:hover{
                @include sprite($fb_footer-hover);
            }
    }

    .socials__link_icon-vk{
        @include sprite($vk_footer);
            &:hover{
                @include sprite($vk_footer-hover);
            }
    }

    .socials__link_icon-tw{
        @include sprite($tw_footer);
            &:hover{
                @include sprite($tw_footer-hover);
            }
    }
}