.sidebar__name{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    position: relative;
    
    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        background: url('../img/images/up.png') no-repeat;
        height: 11px;
        width: 18px;
    }
}

.sidebar__choose_block{
    padding: 7px 30px 4px;
    @include clearfix;
}

.choose_block-brand,
.choose_block-os {
    padding-top: 10px;
    padding-bottom: 15px;
}

.choose__block-price{
    padding-bottom: 18px;
    .sidebar__name{
        padding-top: 6px;
    }
}

.choose__block-color{
    .sidebar__name{
        padding-top: 5px;
        margin-bottom: 12px;
    }
}


.sidebar__choose{
    background-color: $color-white;
    border: 1px solid #dee1e4;
    border-radius: 8px;  
    margin-bottom: 40px;
    overflow: hidden;

    .grade{
        border-radius: 5px; 
    }

    .grade__link{
        padding: 12px 30px;
        display: block;
        font-size: 13px;
        color: grey;
        font-family: "open_sansregular", sans-serif;
        

        &:first-of-type{
            border-bottom: 1px solid #dee1e4;  
        }
    }

    .grade__link_active{
        background-color: #d9e5ea;
        color: #5d656c;
    }
}
/************************/
.sidebar__wrapper{
    background-color: $color-white;
    border-radius: 5px;
}
/************************/
.radio__item{
    margin-bottom: 15px;
}

.radio__item_label{
    position: relative;
    // padding-left: 29px;
    cursor: pointer;
}

.radio__real{
    position: absolute;
    top: 0;
    left: -9999px;
}

.radio__fake{
        display: inline-block;
        cursor: pointer;
    }

    .radio__label{
        display: inline-block;
        padding-left: 30px;
    }

   .radio__fake + .radio__label {
        background: url(../img/images/radio__unchek.png) left center no-repeat;
   }

   .radio__real:checked + .radio__fake + .radio__label{
        background-image: url(../img/images/radio__checked.png);
   }
/************************/
.choose__block-color.accordeon__item__toggle{
    width: 300px;
}

.sidebar__clear-filter{
    text-decoration: underline;
    color: #40a6ff;
    display: block;
}

.sidebar__item {
    display: block;
    margin-bottom: 15px;

    input[type='checkbox'],
    input[type='radio']{
    // float: left;
    opacity: 0;
    width: 20px;
    }
}

.sidebar__name{
    margin-bottom: 15px;
}

.sidebar__input {
    display: inline-block;
}

.checkbox{
    display: inline-block;
    position: relative;
}

.checkbox__real{
    position: absolute;
    top: 0;
    left: -9999px;
}

.choose__block-color{
    .checkbox__real:checked + .checkbox__fake{
        box-shadow: 0 0 0 2px #ff6600;
    }
}    

.checkbox__fake{
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #dee1e4;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 0 2px #ff6600;
    }
}
/*color-picker*/
.checkbox{
    &:nth-of-type(1){
        .checkbox__fake{
            background-color: #fff;
        }
    }    
    &:nth-of-type(2){
        .checkbox__fake{
            background-color: #ccc;
        }    
    }
    &:nth-of-type(3){
        .checkbox__fake{
            background-color: #000;
        }    
    }
    &:nth-of-type(4){
        .checkbox__fake{
            background-color: #0a3153;
        }
    }    
    &:nth-of-type(5){
        .checkbox__fake{
            background-color: #ff1800;
        }    
    }
    &:nth-of-type(6){
        .checkbox__fake{
            background-color: #fff343;
        }    
    }
    &:nth-of-type(7){
        .checkbox__fake{
            background-color: #fb914a;
        }    
    }
    &:nth-of-type(8){
        .checkbox__fake{
            background-color: #92c37c;
        }    
    }
    &:nth-of-type(9){
        .checkbox__fake{
            background-color: #40a6ff;
        }    
    }
    &:nth-of-type(10){
        .checkbox__fake{
            background-color: #9870ad;
        }    
    }
    &:nth-of-type(11){
        .checkbox__fake{
            background-color: #dc78ad;
        } 
    }
    &:nth-of-type(12){
        .checkbox__fake{
            background-color: #7f401d;
        }    
    }
}


    .checkbox__item{
        display: inline-block;
    }

/*************/
.check__item {
    display: block;
    margin-bottom: 15px;
}

.check__item_label{
    position: relative;
}
/************/    
.choose_block-brand,
.choose_block-os{
    .check__real{
        position: absolute;
        top: 0;
        left: -9999px;
    }

    .check__fake{
        display: inline-block;
        cursor: pointer;
    }

    .check__label{
        display: inline-block;
        padding-left: 30px;
    }

   .check__fake + .check__label {
        cursor: pointer;
        background: url(../img/images/check__Off.png) left center no-repeat;
    }

    .check__real:checked + .check__fake + .check__label{
        background-image: url(../img/images/checkbox__brOn.png);
        // background-image: url(../img/images/check__On.png);
    } 

   .check__fake + .check__label_active{
        background: url(../img/images/checkbox__brOff.png) left center no-repeat;
   }  

    .check__real:checked + .check__fake + .check__label_active {
        background-image: url(../img/images/checkbox__brOn.png);
    }  
 }
 /************/ 
.filter__colors{
    width: 230px;
    margin-left: -10px;
}

.filter__color-link{
    border: 1px solid $color-brand-grey;
    width: 37px;
    height: 37px;
    display: block;
 }

.filter__colors-item{
    display: inline-block;
    margin-left: 14px;
    margin-bottom: 16px;
    
    &:hover{
        box-shadow: 0 0 0 2px #ff6600;
    }    
}

 /************/ 

 .filter__slider-displays{
    @include clearfix;
    margin-bottom: 18px;
    white-space: nowrap;
 }

.filter__slider-left{
    float: left;
    // width: 50%;
    margin-right: 45px;
}
.filter__slider-right{
    float: right;
    // width: 50%;
}

.filter__slider-input{
    border: 1px solid $color-brand-grey;
    border-radius: 5px;
    padding: 4px 18px;
    width: 83px;
    display: inline-block;
    vertical-align: middle;
}

.filter__slider-text{
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    margin-right: 10px;
}

// &.active{
//     .filter__title{
//         &:after{
//             @include get-sprite($select-tr-map, to-top);
//         }
//     }
// }