
extends ../docwrapper

block title
    |Мобильные телефоны

//- block headertext
//-     |Try to do something usefull

block content  
    
    .main
        header.main__header
            label.main__header-name 
                |Сортировать по
            select.filter__select
                option(value="price")
                    .filter__select__option 
                        |по цене
                option(value="rating")
                    .filter__select__option 
                        |по популярности  

            .view-catalog__list
                span.view__title
                    |Вид каталога
                +nav(' view', [ '', '', ''], 0) 
    
        ul.content__list
            //- include ../_parts/cards-products
            //- // - var product1 = {count: "1", color:"White", os:"Android", conect1:"Есть", conect2:"Нет", conect3:"Есть", price:"11 290"}
            //- //- var product2 = {count: "1", color:"White", os:"Android", conect1:"Есть", conect2:"Нет", conect3:"Есть", price:"10 990"}
            //- //- var product3 = {count: "1", color:"White", os:"Android", conect1:"Есть", conect2:"Нет", conect3:"Есть", price:"9 900"}
            
            //- //- var products = [product1, product2, product3, product4, product5, product6, product7, product8, product9]
            //- +card-product(products)

            li.content__item
                .content__item_img-wrap
                    img.content__item_img(src='../img/images/s3/S3.jpg')       
                ul.content__list_img-load
                    li.content__item_img-load-wrap.content__item_img-load-wrap_active
                        img(src='../img/images/s3/s3_1.jpg')
                    li.content__item_img-load-wrap
                        img(src='../img/images/s3/s3_2.jpg')
                    li.content__item_img-load-wrap
                        img(src='../img/images/s3/s3_3.jpg')

                .content__item_name.item_name-galaxi
                    p
                        |Samsung GT-I9301I
                    span    
                        |GALAXI S 3

                ul.content__list_description
                    li.content__item_description
                        span.description__text-left Тип Sim-карты
                        span.description__text-right Micro-SIM
                    li.content__item_description
                        span.description__text-left Количество Sim-карт
                        span.description__text-right 1
                    li.content__item_description
                        span.description__text-left Цвет
                        span.description__text-right Белый
                    li.content__item_description
                        span.description__text-left ОС
                        span.description__text-right Android
                    li.content__item_description
                        span.description__text-left Связь 3G
                        span.description__text-right Есть
                    li.content__item_description
                        span.description__text-left 4G(LTE)
                        span.description__text-right Нет
                    li.content__item_description 
                        span.description__text-left GPS-модуль
                        span.description__text-right Есть
                .description__rating
                    img.starz(src='../img/images/starz.png')   
                    span.count 
                        |4
                .price
                    |11 290
                .btn-group
                    span В наличии
                    button.btn В корзину           

            li.content__item
                .content__item_img-wrap
                    img.content__item_img(src='../img/images/m640_front.png')
                .content__list_img-load-wrap   
                    ul.content__list_img-load
                        li.content__item_img-load-wrap.content__item_img-load-wrap_active
                            img(src='../img/images/m640_1.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/m640_2.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/m640_3.png')

                .content__item_name
                    |Microsoft Lumia 640 RM-1077

                ul.content__list_description
                    li.content__item_description
                        span.description__text-left Тип Sim-карты
                        span.description__text-right Micro-SIM
                    li.content__item_description
                        span.description__text-left Количество Sim-карт
                        span.description__text-right 2
                    li.content__item_description
                        span.description__text-left Цвет
                        span.description__text-right Белый
                    li.content__item_description
                        span.description__text-left ОС
                        span.description__text-right Windows Phone
                    li.content__item_description
                        span.description__text-left Связь 3G
                        span.description__text-right Есть
                    li.content__item_description
                        span.description__text-left 4G(LTE)
                        span.description__text-right Нет
                    li.content__item_description 
                        span.description__text-left GPS-модуль
                        span.description__text-right A-GPS
                .description__rating
                    img.starz(src='../img/images/starz.png')   
                    span.count 
                        |4
                .price
                    |10 990
                .btn-group
                    span В наличии
                    button.btn В корзину                

            li.content__item
                .content__item_img-wrap
                    img.content__item_img(src='../img/images/ar50/ar50.png')
                .content__list_img-load-wrap   
                    ul.content__list_img-load
                        li.content__item_img-load-wrap.content__item_img-load-wrap_active
                            img(src='../img/images/ar50/ar50_1.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/ar50/ar50_2.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/ar50/ar50_3.png')

                .content__item_name
                    |Archos 50 Oxygen Plus

                ul.content__list_description
                    li.content__item_description
                        span.description__text-left Тип Sim-карты
                        span.description__text-right Micro-SIM
                    li.content__item_description
                        span.description__text-left Количество Sim-карт
                        span.description__text-right 1
                    li.content__item_description
                        span.description__text-left Цвет
                        span.description__text-right Серый
                    li.content__item_description
                        span.description__text-left ОС
                        span.description__text-right Android
                    li.content__item_description
                        span.description__text-left Связь 3G
                        span.description__text-right Есть
                    li.content__item_description
                        span.description__text-left 4G(LTE)
                        span.description__text-right Нет
                    li.content__item_description 
                        span.description__text-left GPS-модуль
                        span.description__text-right Есть
                .description__rating
                    img.starz(src='../img/images/starz.png')   
                    span.count 
                        |4
                .price
                    |9 900
                .btn-group
                    span В наличии
                    button.btn В корзину                    

            li.content__item
                .content__item_img-wrap
                    img.content__item_img(src='../img/images/phs398b/phs398b.png')
                .content__list_img-load-wrap   
                    ul.content__list_img-load
                        li.content__item_img-load-wrap.content__item_img-load-wrap_active
                            img(src='../img/images/phs398b/phs398b_1.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/phs398b/phs398b_2.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/phs398b/phs398b_3.png')

                .content__item_name
                    p
                        |Philips S398 Black

                ul.content__list_description
                    li.content__item_description
                        span.description__text-left Тип Sim-карты
                        span.description__text-right Micro-SIM
                    li.content__item_description
                        span.description__text-left Количество Sim-карт
                        span.description__text-right 2
                    li.content__item_description
                        span.description__text-left Цвет
                        span.description__text-right Белый
                    li.content__item_description
                        span.description__text-left ОС
                        span.description__text-right Android
                    li.content__item_description
                        span.description__text-left Связь 3G
                        span.description__text-right Есть
                    li.content__item_description
                        span.description__text-left 4G(LTE)
                        span.description__text-right Нет
                    li.content__item_description 
                        span.description__text-left GPS-модуль
                        span.description__text-right Есть
                .description__rating
                    img.starz(src='../img/images/starz.png')   
                    span.count 
                        |4
                .price
                    |8 990
                .btn-group
                    span В наличии
                    button.btn В корзину           

            li.content__item
                .content__item_img-wrap
                    img.content__item_img(src='../img/images/m430/m430.png')
                .content__list_img-load-wrap   
                    ul.content__list_img-load
                        li.content__item_img-load-wrap.content__item_img-load-wrap_active
                            img(src='../img/images/m430/m430_1.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/m430/m430_2.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/m430/m430_3.png')

                .content__item_name
                    |Microsoft Lumia 430 RM-10

                ul.content__list_description
                    li.content__item_description
                        span.description__text-left Тип Sim-карты
                        span.description__text-right Micro-SIM
                    li.content__item_description
                        span.description__text-left Количество Sim-карт
                        span.description__text-right 2
                    li.content__item_description
                        span.description__text-left Цвет
                        span.description__text-right Черный
                    li.content__item_description
                        span.description__text-left ОС
                        span.description__text-right Windows Phone
                    li.content__item_description
                        span.description__text-left Связь 3G
                        span.description__text-right Есть
                    li.content__item_description
                        span.description__text-left 4G(LTE)
                        span.description__text-right Нет
                    li.content__item_description 
                        span.description__text-left GPS-модуль
                        span.description__text-right A-GPS
                .description__rating
                    img.starz(src='../img/images/starz.png')   
                    span.count 
                        |4
                .price
                    |5 390
                .btn-group
                    span В наличии
                    button.btn В корзину                

            li.content__item
                .content__item_img-wrap
                    img.content__item_img(src='../img/images/sl301b/sl301b.png')
                .content__list_img-load-wrap   
                    ul.content__list_img-load
                        li.content__item_img-load-wrap.content__item_img-load-wrap_active
                            img(src='../img/images/sl301b/sl301b_1.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/sl301b/sl301b_2.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/sl301b/sl301b_3.png')

                .content__item_name
                    |Senseit L301 Black

                ul.content__list_description
                    li.content__item_description
                        span.description__text-left Тип Sim-карты
                        span.description__text-right Micro-SIM
                    li.content__item_description
                        span.description__text-left Количество Sim-карт
                        span.description__text-right 2
                    li.content__item_description
                        span.description__text-left Цвет
                        span.description__text-right Серый
                    li.content__item_description
                        span.description__text-left ОС
                        span.description__text-right Android
                    li.content__item_description
                        span.description__text-left Связь 3G
                        span.description__text-right Есть
                    li.content__item_description
                        span.description__text-left 4G(LTE)
                        span.description__text-right Нет
                    li.content__item_description 
                        span.description__text-left GPS-модуль
                        span.description__text-right Есть
                .description__rating
                    img.starz(src='../img/images/starz.png')   
                    span.count 
                        |4
                .price
                    |9 900
                .btn-group
                    span В наличии
                    button.btn В корзину                            

            li.content__item
                .content__item_img-wrap
                    img.content__item_img(src='../img/images/hwwb/hwwb.png')
                .content__list_img-load-wrap   
                    ul.content__list_img-load
                        li.content__item_img-load-wrap.content__item_img-load-wrap_active
                            img(src='../img/images/hwwb/hwwb_1.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/hwwb/hwwb_2.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/hwwb/hwwb_3.png')

                .content__item_name
                    |HIGHSCREEN WinWin Black

                ul.content__list_description
                    li.content__item_description
                        span.description__text-left Тип Sim-карты
                        span.description__text-right Micro-SIM
                    li.content__item_description
                        span.description__text-left Количество Sim-карт
                        span.description__text-right 2
                    li.content__item_description
                        span.description__text-left Цвет
                        span.description__text-right Черный
                    li.content__item_description
                        span.description__text-left ОС
                        span.description__text-right WindowsPhone
                    li.content__item_description
                        span.description__text-left Связь 3G
                        span.description__text-right Есть
                    li.content__item_description
                        span.description__text-left 4G(LTE)
                        span.description__text-right Нет
                    li.content__item_description 
                        span.description__text-left GPS-модуль
                        span.description__text-right Есть
                .description__rating
                    img.starz(src='../img/images/starz.png')   
                    span.count 
                        |4
                .price
                    |3 990
                .btn-group
                    span В наличии
                    button.btn В корзину           

            li.content__item
                .content__item_img-wrap
                    img.content__item_img(src='../img/images/al4013/al4013.png')
                .content__list_img-load-wrap   
                    ul.content__list_img-load
                        li.content__item_img-load-wrap.content__item_img-load-wrap_active
                            img(src='../img/images/al4013/al4013_1.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/al4013/al4013_2.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/al4013/al4013_3.png')

                .content__item_name
                    |Alcatel OT4013D PIXI 3 (2 SIM)

                ul.content__list_description
                    li.content__item_description
                        span.description__text-left Тип Sim-карты
                        span.description__text-right Micro-SIM
                    li.content__item_description
                        span.description__text-left Количество Sim-карт
                        span.description__text-right 2
                    li.content__item_description
                        span.description__text-left Цвет
                        span.description__text-right Белый
                    li.content__item_description
                        span.description__text-left ОС
                        span.description__text-right Windows Phone
                    li.content__item_description
                        span.description__text-left Связь 3G
                        span.description__text-right Есть
                    li.content__item_description
                        span.description__text-left 4G(LTE)
                        span.description__text-right Нет
                    li.content__item_description 
                        span.description__text-left GPS-модуль
                        span.description__text-right A-GPS
                .description__rating
                    img.starz(src='../img/images/starz.png')   
                    span.count 
                        |4
                .price
                    |3 290
                .btn-group
                    span В наличии
                    button.btn В корзину                

            li.content__item
                .content__item_img-wrap
                    img.content__item_img(src='../img/images/fiq434/fiq434.png')
                .content__list_img-load-wrap   
                    ul.content__list_img-load
                        li.content__item_img-load-wrap.content__item_img-load-wrap_active
                            img(src='../img/images/fiq434/fiq434_1.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/fiq434/fiq434_2.png')
                        li.content__item_img-load-wrap
                            img(src='../img/images/fiq434/fiq434_3.png')

                .content__item_name
                    |Fly IQ434 Era Nano 5

                ul.content__list_description
                    li.content__item_description
                        span.description__text-left Тип Sim-карты
                        span.description__text-right Micro-SIM
                    li.content__item_description
                        span.description__text-left Количество Sim-карт
                        span.description__text-right 2
                    li.content__item_description
                        span.description__text-left Цвет
                        span.description__text-right Черный
                    li.content__item_description
                        span.description__text-left ОС
                        span.description__text-right Android
                    li.content__item_description
                        span.description__text-left Связь 3G
                        span.description__text-right Нет
                    li.content__item_description
                        span.description__text-left 4G(LTE)
                        span.description__text-right Нет
                    li.content__item_description 
                        span.description__text-left GPS-модуль
                        span.description__text-right Нет
                .description__rating
                    img.starz(src='../img/images/starz.png')   
                    span.count 
                        |4
                .price
                    |1 790
                .btn-group
                    span В наличии
                    button.btn В корзину                                    

        .pagination
            +nav(' pagi', ['<', '1', '2', '3', '>'], 1)
include ../_parts/info